header {
    width: 100%;
    height: 50px;
    background-color: blue;
    position: fixed;
    z-index: 1;
}

#main {
    width: 100%;
    display: flex;
}

#black-cards {
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}

#white-cards {
    width: 100%;
    background-color: rgb(255, 249, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap: 10px;
    padding: 50px;
    
}

footer {
    width: 100%;
    height: 50px;
    background-color: red;
    opacity: 0.3;
}

.card{
    min-width: 180px;
    height: 280px;
    border-radius: 20px;
    position: relative;
    max-width: 180px;
    overflow: scroll;
    transition: width 0.5s, height 0.2s, transform 0.2s;
       
}

.card.white:hover {
    background-color: #FFF4BD;
    min-width: 200px;
    height: 300px;
    transform: rotate(2deg);
}

.shadow{
    box-shadow: 3px 3px 20px lightgray;
}

.card.black{
    background-color: black;

}

.card.black  p {
    color: white;
}

.card.white{
    background-color: white;
    border-color: gainsboro;
    cursor: pointer;
    
}

.card.bottom {
    display: block;
    height: 12%;
    border-radius: 0px;
    position: absolute;
    margin: 0;
}

.card.logo {
    border-style: solid;
    border-color: blue;
    border-width: 0px;
    
    height: 100%;
    width: 20%;
    border-radius: 0px;

}

.card.logo img {
    display: block;
    max-width: 80%;
    height: 100%;

}

.card.text{
    width: 100%;
    height: 90%;
    border-radius: 0px;
    opacity: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.card-text {
    width: 80%;
    text-align: center;
}

.filling {
    background-color:gray;
    min-height: 25px;
    
}


@media screen and (min-width: 391px){
    #white-cards {
        width: 70%;
    }

    #black-cards {
        width: 30%;
    }
}